
    <h2 class="mat-dialog-title text-2xl font-bold text-gray-800 mt-4 ml-2">About This App</h2>

    <mat-dialog-content>
        <p class="text-gray-700">
        Welcome to the poetry exploration app! Here, you can search for poems, read them, and listen to them through our text-to-speech feature.
        </p>
    
        <h3 class="text-lg font-semibold text-gray-800 mt-2">Powered by PoetryDB</h3>
        <p class="text-gray-700">
        Our app utilizes the PoetryDB API, the world's first API for next-generation internet poets. This free and open-source API provides access to a vast collection of classic poetry. We extend our sincere gratitude to the creators of PoetryDB for making this resource available to the public.
        </p>
    
        <h3 class="text-lg font-semibold text-gray-800 mt-2">Features</h3>
        <ul class="list-disc list-inside text-gray-700">
            <li><strong>Search</strong>: Find poems by title, author, or keywords.</li>
            <li><strong>Read</strong>: Enjoy the full text of poems within the app.</li>
            <li><strong>Listen</strong>: Experience poems audibly with our text-to-speech functionality.</li>
        </ul>
    
        <h3 class="text-lg font-semibold text-gray-800 mt-2">Learn More</h3>
        <p class="text-gray-700">
        For more information about PoetryDB, visit their
        <a href="https://github.com/thundercomb/poetrydb" target="_blank" class="text-blue-600 hover:underline">GitHub repository</a>
        or their
        <a href="https://poetrydb.org/" target="_blank" class="text-blue-600 hover:underline">official website</a>.
        </p>
  
    </mat-dialog-content>


    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
